#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* RESET */
ul {
  list-style-type: none;
  padding-left: 0px;
}

a:link, a:visited, a:active {
  color: #000000;
  text-decoration: none;
}